/*===========================================================
  APP NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {
    --text-col:         rgb(179, 7, 7);

    --back-col:         rgb(238, 174, 0);
    --back-col-dark:    rgb(235, 127, 26);

    --border-col:       rgb(245, 185, 145);

    --accent-col:       rgb(146, 51, 27);
}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--back-col);
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
}


main {
    max-width: 60rem;
    margin-inline: auto;
    padding: 1rem;
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;

    .logo {
        width: 2rem;
        height: 2rem;
    }

    h1 {
        font-size: 1.5rem;
        flex: 1;
    }

    nav {
        display: flex;
        gap: 1rem;

        a {
            color: var(--accent-col);
        }
    }
}


/* Page Headings -----------------------------------------------*/

main > h1.welcome {
    font-size: 3rem;
    text-align: center;
    margin-block: 2rem;
}


main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}


/* Creature List --------------------------------------------------*/

#Tasks {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;

    @media (width >= 500px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (width >= 800px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .TasksToDo {
        padding: 1rem;
        gap: 1rem;
        background-color: var(--back-col-dark);
        border: 2px solid var(--border-col);
        border-radius: 0.5rem;
        display:flex;
        align-items: center;

        span.checkbox {
            font-size: 1.5rem;
            
            a{
                text-decoration: none;
                color:green;
            }
        }
        span.name {
            color: var(--accent-col);
            Font-size:1.15rem;
            Font-weight:500;
            
        }
        span.priority {
            color: var(--accent-col);
            font-size:1.2rem;
            font-weight:1000;
            
        }
    }

}


